body{
    background-image: url(https://th.bing.com/th/id/OIP.9z3t-xkBl1D1hWhotNjI4AHaE8?w=225&h=180&c=7&r=0&o=5&pid=1.7);
    font-size: xx-large;
    font-style: italic;
    padding: 100px;
    color: greenyellow;
    font-family: verdana;
}
h2{
    background-image: url(https://th.bing.com/th?id=OIP.LusQhvzXGzVRVQf-WT1CWgHaNK&w=187&h=333&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
    background-color: grey;
    font-size: 20px;
    font-style: oblique;
    color: black;
}
#go{
    background-color: midnightblue;
    color: black;
    margin-right: 50px;
    margin-top: 100px;
    border: 7px solid rgb(4, 0, 255);
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 40px;
    opacity: .5;
}
#go:hover{
    background-color: darkred;
    font: optional;
    opacity: 1;
    cursor: pointer;
}